@import "base";
@import "reset";


//CLASSES=============================================================================
.block {
    display: block;
}


//NAV=================================================================================
nav {
    max-width: 880px;
    margin: auto;


    padding: 10px 20px;
    background-color: $secondary;
    
    .nav {
        display: flex;
        justify-content: space-between;

        color: white;
    }
}


//MAIN================================================================================
main {
    max-width: 850px;
    margin: auto;
    margin-top: 8px;

    height: calc(100vh - 65px);
    background-color: $main;

    border: 4px double $secondary;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #414241;
    


//START-UP============================================================================
    #createGame {
        margin-left: 10px;


        label {
            font-size: 18px;
            //margin-top: 15px;
        }
        select {
            width: calc(100% - 20px);
            
            font-size: 15px;
        
            margin-top: 5px;
            padding: 5px;
        }
        hr {
            position: relative;
            right: 10px;
        
            width: calc(100% - 20px);
        }


//PLAYER-SETUP========================================================================
        .playerSetUp {
            margin-top: 15px;
            
            .playerName {
                display: flex;
                justify-content: space-between;

                width: calc(100% - 20px);
                margin-top: 5px;

                .playerInput {
                    width: calc(100% - 50px);
                    padding: 5px;
                
                }
                .playerDelete {
                    display: inline-block;
                    width: 25px;
                    height: 24px;

                    margin-top: 2px;
                    text-align: center;

                    color: white;
                    background-color: $secondary;

                }
            }
            #addPlayer {
                display: inline-block;
                width: 22px;
                height: 22px;
                text-align: center;

                color: white;
                margin: 10px 5px 0px;
                border: 2px solid $secondary;
                border-radius: 25px;
                background-color: $secondary;
            }
        }
        .bottom {
            display: flex;
            justify-content: left;
            flex-direction: row-reverse;
            flex-wrap: wrap;

            max-width: 850px;
            position: absolute;
            bottom: 20px;

            width: calc(100% - 25px);
            #play {
                width: 120px;
                padding: 5px;
                margin-right: 20px;

                color:white;
                background-color: $secondary;

                font-size: 15px;
                border: 2px solid $secondary;
                border-radius: 15px;
            }
            #play:focus {outline: none;}
        }
    }


//GOLF-SCORE-CARD=====================================================================
    #built {
        margin: 15px 10px;

        .fullScore {
            display: flex;
            flex-wrap: wrap;
            
            #table1 {
                display: inline-block;
                margin-right: 10px;
                
                td {
                    width: 50px;
                }
            }
            #mainDisplay {
                display: inline-block;
                max-width: calc(100% - 100px);

                #mainTable {
                    display: inline-block;
                    max-width: 100%;

                    overflow-y: scroll;
                    scrollbar-width: none;
                    -ms-overflow-style: none;

                    border: 1px solid black;
                    border-right: 2px solid black;

                    #table2 {

                        td {
                            width: 30px;

                            input[type="text"]{
                                width: calc(100% - 8px);

                                font-size: 15px;
                                padding: 0px;


                                border: none;
                                background-color: $main;
                                    
                            }
                        }
                    }
                }
                #mainTable::-webkit-scrollbar { display: none; }
                .buttonDiv {
                    display: flex;
                    justify-content: space-around;

                    button {
                        width: 40%;
                    }
                }
            }
            #table3 {
                display: inline-block;

            }
        }
    }
}


//POP-UP==============================================================================
#popUp {
    z-index: 100;
    position: fixed;
    top: 0px;

    .popUpBack {
        width: 100vw;
        height: 100vh;
        background-color: rgba(54, 54, 54, 0.5);

    }
    .popUpMessage {
        position: absolute;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 100vh;
        .message {
            display: flex;
            justify-content: center;
            flex-direction: column;

            width: 50%;
            text-align: center;

            background-color: white;
            border: 4px double $secondary;
            border-radius: 8px;
            
            p {
                text-align: center;
                margin: 20px;
            }
            button {
                margin: 10px;
                padding: 5px;
            }
        }
    }
}


//GENERAL=============================================================================
body {
    font-family: 'Trebuchet MS', sans-serif;

}
table, td,th {
    border: 1px solid black;
    border-collapse: collapse;
}
input:focus {outline: none;}